<?xml version="1.0" encoding="UTF-8" ?>
<suite name="aaa">
    <test name="bbb">
        <classes>
            <class name="com.tester.extend.demo.TestMethod">
                <methods>
                    <method>
                        <include name="test1"/>
                        <include name="test2"/>
                        <include name="test3"/>
                        <include name="logDemo"/>
                    </method>
                </methods>
            </class>
        </classes>

    </test>

    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
<!--        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"/>-->


    </listeners>

</suite>