<?xml version="1.0" encoding="UTF-8" ?>
<suite name="aaa">
    <test name="bbb">
        <classes>
            <class name="TestSuite">
                <methods>
                    <method>
                        <include name="test"/>
                    </method>
                </methods>
            </class>
            <class name = "test2"></class>



        </classes>

    </test>

    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
<!--&lt;!&ndash;        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"/>&ndash;&gt;-->


    </listeners>

</suite>